spring:
  application:
    name: management
  datasource:
    url: jdbc:mysql://localhost:3306/management?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  jackson:
    property-naming-strategy: SNAKE_CASE
server:
  port: 8080


cloudinary:
  cloudName: dcfbaknh6
  apiKey: 555627755687196
  apiSecret: cGvOw5rPyVIsLUZ231M_H1rQaHA


openapi:
  service:
    api-docs: api-service
    server: http://localhost:8080
    title: API Service
    version: 1.0.0
